@model IEnumerable<Amazon.Models.DetallesCarrito>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Productos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.ActionLink("+1", "EditAdd", new { productoID = item.ProductoID/* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("-1", "EditRm", new { productoID = item.ProductoID/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", "Productos", new { id = item.ProductoID }) |
                    @Html.ActionLink("Remove", "Delete", new { productoID = item.ProductoID/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
        <form asp-action="AddVenta" method="post">
            @foreach(var item in Model)
            {
            <input type="hidden" value="@item.ProductoID" name="listaID" />
            }
            <input type="submit" value="Proceder a la venta" />
        </form>

    </tbody>
</table>
