@model IEnumerable<Amazon.Models.DetallesCarrito>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Productos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CarritoID/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.CarritoID/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarritoID/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
        <form asp-action="AddVenta" method="post">
            @foreach(var item in Model)
            {
            <input type="hidden" value="@item.ProductoID" name="listaID" />
            }
            <input type="submit" value="Add" />
        </form>

    </tbody>
</table>
