@model IEnumerable<Amazon.Models.Ventas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VentaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VentaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVenta)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { ventaID = item.VentaID/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
